.Classification {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  padding: 8.5px 12px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, transparent, transparent);
  position: relative;
  line-height: 1.5;
  width: 12rem;
  cursor: pointer;
  /* outline: 1px solid red; */
}

.Classification::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #00bcd4;
  transition: width 0.3s ease, left 0.3s ease;
}

.Classification:hover {
  color: #00bcd4;
  background: linear-gradient(90deg, rgba(0, 188, 212, 0.2), rgba(0, 188, 212, 0.2));
}

.Classification:hover::after {
  width: 100%;
  left: 0;
}

.container-item {
  display: flex;
  flex-direction: column;
  outline: 1px solid white;
  max-height: 250px;
  overflow-y: auto; /* บังคับให้ scrollbar แสดง */
  /*scrollbar-width: thin;  ปรับขนาด scrollbar (เฉพาะ Firefox) */
  scrollbar-width: none; /* ปรับขนาด scrollbar (เฉพาะ Firefox) */
  scrollbar-color: #d6e8eb #2a2a2a; /* ปรับสี scrollbar */
}

.container-item::-webkit-scrollbar {
  width: 10px; /* กำหนดความกว้าง scrollbar */
}

.container-item::-webkit-scrollbar-thumb {
  background-color: #00bcd4; /* สีของ scrollbar */
  border-radius: 5px; /* ทำให้ scrollbar มีความโค้งมน */
}

.container-item::-webkit-scrollbar-track {
  background-color: #2a2a2a; /* สีพื้นหลังของ scrollbar */
}

/* ซ่อนลูกศร (scrollbar buttons) */
.container-item::-webkit-scrollbar-button {
  display: none; /* ซ่อนปุ่ม */
}


.container-item p {
  outline: 1px solid white;
  color: whitesmoke;
  font-size: 18px;
  padding: 10px;
}
